body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Box Sizing */
* {
  box-sizing: border-box;
}

/* Universal Selector */
h5 {
  display: flex;
  align-items: center;
  line-height: 1.5;
  margin: 0;
}

form {
  width: 100%;
}

/* Class Based  */
.main-container {
  width: 100%;
  min-height: 100vh;
  padding-block: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  background: rgb(240, 239, 239);
  display: flex;
  justify-content: space-between;
  gap: 10%;
  padding: 10px;
  margin: auto;
  border: 1px solid #36383f;
  border-radius: 5px;
}

/* Form Container */
.form-container {
  width: 100%;
}

.form-container p {
  font-size: 13px;
  line-height: 0;
}

.inputs input,
button {
  padding: 5px;
}

.form-container .form-input,
button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  outline: none;
  text-align: left;
}

button {
  color: rgb(133, 132, 132);
}

/* Copy */
.copy {
  display: flex;
  align-items: center;
  color: #2b7de9;
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: underline;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-list {
  position: absolute;
  width: 100%;
  background: #fff;
  border: 1px solid lightgray;
  z-index: 999;
  box-shadow: 0 0 5px lightgray;
}

/* Dropdown List */
.dropdown-list input {
  width: 100%;
  padding: 5px;
}

/* List Items */
.list-items {
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.list-item {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 13px;
}

.list-item:hover {
  background: rgb(199, 195, 195);
}
